


*{
    margin: 0;
    padding: 0;
    
}

.navbar ul{
    display:flex; 
    align-items: center;
    list-style-type:none;
    height: 80px;
    background-color: #261DB8;
    justify-content: space-evenly;
    
    
}
.navbar ul li{
    border: 2px solid transparent;
    height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
background-color:#7BB4C4;
border-radius: 5px;
color:#261db8;
}
.navbar ul li a{
    text-decoration: none;
    
}
.navbar ul li:hover{
    border: 2px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.store{
    background-color:#55FBDC;
    border-radius: 10px;
}
.search{
height: 40px;
width: 700px;
display: flex;
justify-content: center;
align-items: center;
background-color:#BAADD1;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.search-tab{
    width: 20%;
    height: 100%;
    border: 1px;
    margin: 0;
    padding-left:0;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:;
}
.search-text{
    width: 80%;
    border: 10px;
    display: flex;
    margin-left :20px ;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100%;
    width: 10%;
    
}

.shopping {
    width: 27px;
}
.menu{
    width: 25px;
}

.main-section{
    background-image: url(ooo.png);
    background-size:contain;
    height: 580px;
}
 nav{
    height: 40px;
    background-color: #BAADD1;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 20px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}
.product{
    border: 2px solid black;
    height: 400px;
    width: 21%;
  margin-top: 20px;
padding: 10 10;


}
.product:hover{
    border: red;
   transform: translateY(-7);
}
.product-img{
    margin:10 4;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.product-tab{
    color:orange;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-tab p{
    color: black;
}

.offer{
    background-image: url(photo/offer.png);
    background-size: contain;
    height: 700px;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 17px;
}

.review-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.review-dash{
margin: 0%;
color:red;
}
.review{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 17%;
    margin-right: 18%;
}
.review-box{
    border: 2px solid black;
    height: 150px;
    width: 20%;
    padding-left: 6px;
    background-color:#7BB4C4;
    color:white;
}
.review-logo{
    margin: 7px;
    display:flex;
    justify-content: center;
}
.review-name{
    margin-bottom: 7px;
    display:flex;
    justify-content: center;
    color: #FF714C;
}
.review-comment{
    color: #A10000;
}
.foot2top{
    height: 50px;
    background-color:cadetblue;
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.foot2top a{
    text-decoration: none;
    color:brown;
}
.foot{
    height: 200px;
    width: 100%;
    margin-top: 2px;
    padding-top: 25px;
    background-color: darkslategray;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    
}
.foot ul{
display: flex;
flex-direction: column;
}
.foot ul p{
    color: black;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;

}
.foot ul a{
    font-size: 17px;
    color:#7BB4C4 ;
}
.foot ul i{
    margin-bottom: 10px;
    
}
.footer{
    height: 40px;
    width: 100%;
    margin-top: 0.1px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*----login----*/

.login{
   
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 200px 600px;
    width: 280px;
    height:270px;
    background-color: #7BB4C4;
}
.login span{
    padding-top: 0;
    font-size: 30px;
    align-self:;
}
.login a{
    font-size: 15px;
    margin-top: 15px;
}
form{
    display: flex;
    flex-direction: column;
    
}
form input{
    margin: 10px 0;
}
.btn{
    background-color:#FF714C;
    width: 50px;
    border-radius: 5px;
}



/*----product page---*/

.product-page{
    display:flex;
    align-items: center;
    justify-content: center;
font-size: 40px;
margin: 40px 0;
}
.product-page p{
    width:160px;
    display: flex;
    justify-content: center;
    background-color:#261db8;
    color:white;
    border-style: groove;
    border-radius: 7px;
}


/*----cart-page----*/

.cart-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 30px;

}
.cart-title p{
    width: 100px;
    margin-top: 20px;
    border: 2px solid #7BB4C4;
    border-radius: 7px;
    background-color: #FF714C;
    display: flex;
    justify-content: center;
}
.cart{
    display: flex;
    justify-content: space-evenly;
    background-color: #55FBDC;
    border: 5px solid green;
    border-radius: 7px;
    height: 750px;
    margin: 10px 100px;
}

.cart-image{
   
    width: 50%;
    height: 650px;
display: flex;
flex-direction: column;
    margin-top: 20px;
    border: 6px solid #FF714C;
    border-radius: 7px;
}
.cart-image h2{
    margin-top: 70px;
    text-align: center;
}
.main{
    background-image: url(photo/bracelet2.jpeg);
    width: 500px;
    height: 60%;
padding-left: 100px;
background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 39px;

}
.side{
    display: flex;
    height: 50px;
margin: 25px 71px;
}
.side img{
    height: 120px;
    width: 140px;
    margin:0 15px;
    border: 1px solid black;
}
.cart-detail{
    display: flex;
    flex-direction: column;
    width:30% ;
    height: 500px;
    margin-left: 100px;
    padding-left: 25px;
    margin-top: 70px;
   background-color: white;
   border-radius: 7px;
}
.cart-detail p{
    font-size: 40px;
    margin-bottom:23px ;
    color: rgb(225, 118, 65);
}
.cart-detail input,select{
    width:190px;
    height: 20px;
margin: 50px 0;
}
.cart-detail button{
    background-color: #FF714C;
width: 100px;
border-radius: 7px;
font-size: 20px;
}   
.cart-detail h3{
    margin: 10px 0;
    padding-left: 12px;
    color:rgb(255, 0, 55);
}
.cart-detail h4{
    text-align:justify;
    padding: 0 10px;
}