


*{
    margin: 0;
    padding: 0;
    
}

.navbar ul{
    display:flex; 
    align-items: center;
    list-style-type:none;
    height: 80px;
    background-color: #261DB8;
    justify-content: space-evenly;
    
    
}
.navbar ul li{
    border: 2px solid transparent;
    height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
background-color:#7BB4C4;
border-radius: 5px;
color:#A10000;
}
.navbar ul li:hover{
    border: 2px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.store{
    background-color:#55FBDC;
    border-radius: 10px;
}
.search{
height: 40px;
width: 700px;
display: flex;
justify-content: center;
align-items: center;
background-color:#55FBDC;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.search-tab{
    width: 20%;
    height: 100%;
    border: 1px;
    margin: 0;
    padding-left:0;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:#55FBDC;
}
.search-text{
    width: 80%;
    border: 10px;
    display: flex;
    margin-left :20px ;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100%;
    width: 10%;
    
}

.shopping{
    width: 27px;
}

.main-section{
    background-image: url(ooo.png);
    background-size:contain;
    height: 580px;
}
 nav{
    height: 40px;
    background-color: #BAADD1;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 20px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}
.product{
    border: 2px solid black;
    height: 400px;
    width: 21%;
  margin-top: 20px;
padding: 10 10;


}
.product:hover{
    border: red;
   transform: translateY(-7);
}
.product-img{
    margin:10 4;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.product-tab{
    color:orange;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-tab p{
    color: black;
}

.offer{
    background-image: url(photo/offer.png);
    background-size: contain;
    height: 700px;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 17px;
}

.review-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.review-dash{
margin: 0%;
color:red;
}
.review{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 17%;
    margin-right: 18%;
}
.review-box{
    border: 2px solid black;
    height: 150px;
    width: 20%;
    padding-left: 6px;
    background-color:#7BB4C4;
    color:white;
}
.review-logo{
    margin: 7px;
    display:flex;
    justify-content: center;
}
.review-name{
    margin-bottom: 7px;
    display:flex;
    justify-content: center;
    color: #FF714C;
}
.review-comment{
    color: #A10000;
}
.foot{
    height: 200px;
    width: 100%;
    margin-top: 35px;
    padding-top: 25px;
    background-color: darkslategray;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    
}
.foot ul{
display: flex;
flex-direction: column;
}
.foot ul p{
    color: black;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;

}
.foot ul a{
    font-size: 17px;
    color:#7BB4C4 ;
}
.foot ul i{
    margin-bottom: 10px;
    
}
.footer{
    height: 40px;
    width: 100%;
    margin-top: 0.1px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}