/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap'); */
.body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 90px;
    background-color: turquoise;
    color: black;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 55px;
padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}
.container{
    height:72vh;
    background-color: black;
    color: white;
    font-family: 'varela round',sans-serif;
    display: flex;
    width:70%;
    margin: 20px auto;
    border-radius: 12px;
    padding:30px;
    background-image: url(shiva.jpg);
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px 0;
}
.icons{
    margin-top: 19px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width:80vw;
    text-align: center;
    cursor: pointer;
}
.aa{
    size: 80%;
    align-items: center;
    justify-content: center;
}
.songitemcontainer{
    margin-top: 30px;
}
.songItem{
height:50px;
display: flex;
background-color: white;
width: 150%;
color:black;
margin: 12px 0;
justify-content: space-around;
align-items: center;
border-radius: 33px;
}
.songItem img{
width: 43px;
margin: 0 23px;
border-radius: 34px;
}
.timestamp{
    margin: 0 23px ;
    padding-right: 6px;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'varela round',sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.85s ease-in;
}